* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  background-color: transparent;
  border: none;
}

body {
  background-color: #111;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

#app {
  flex-grow: 1;

  display: grid;
  place-content: center;
}

#app > * {
  grid-column-start: 1;
  grid-row-start: 1;
}

#app canvas {
  z-index: -1;
  border-radius: 1rem;
  overflow: hidden;
}

#app .start-menu,
#app .game-over-menu {
  position: relative;
  z-index: 1;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#app .start-menu button,
#app .game-over-menu button {
  padding: 1rem 4rem;
  font-size: 2rem;
  font-family: monospace;

  --inner-box-shadow: inset -4px 4px 4px #fddb6c;
  box-shadow: var(--inner-box-shadow);

  font-weight: bolder;
  border-radius: 1rem;
  background: linear-gradient(to bottom right, #ff9c09, #ffd416);
  cursor: pointer;
  transition: 200ms;
}

#app .start-menu button:hover,
#app .game-over-menu button:hover {
  box-shadow: var(--inner-box-shadow), 0 2px 16px #5c4c05;
  transform: scale(1.25);
}

#app .start-menu {
  background-image: url(/dot.png);
  background-size: 24px;
  background-color: #171717;
}

#app .game-over-menu {
  background-color: #2e271ebb;
  box-shadow: inset -12px -12px 20px 10px #2c221c;
}

#app .game-over-menu p {
  font-family: sans-serif;
  text-align: center;
  font-weight: bold;
  margin-bottom: 1rem;
  color: white;
}

#app .score-board {  
  justify-self: end;
  align-self: start;
  padding: 1rem;
}

#app .score-board p {
  width: 4rem;
  height: 4rem;
  background-color: #a1ecff;
  color: #0099e0;
  box-shadow: inset -12px -12px 20px white;
  border-radius: 1rem;
  font-weight: bolder;
  font-family: sans-serif;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
